.main-container {
    width: 50%;
    margin: auto;
    margin-top: 15%;
    background-color: $white;
    display: flex;
    border-radius: 20px;
    box-shadow: 5px 10px 20px $pale-blue;
}

.attribution {
    margin-top: 2em;
}